.footer{
    height: 40vh;
    background-color: rgba(207, 190, 110, 0.6);
    padding: 100px 0 100px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, rgba(216, 137, 45 ,.9), rgba(216, 137, 45 ,.6));

}

.iconContainer{
    display: flex;
    flex-direction: column
}



.logoName{
    width: 140px;
}

.copyRight{
    color:#fff;
}


.footerNav{
    display: flex;
    flex-direction: row;
}
.footerNavItem{
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    margin: 20px;
    padding: 5px;
    transition: .4s ease-out;
}

.footerNavItem:hover{
    border-radius: 10px;
    transform: rotate(1.5deg) scale(1.2);
}
.buttonNavItem{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    font-family: inherit;
}

@media only screen and (max-width: 600px) {
    .footerNavItem {
        font-size: 14px;
        margin: 12px;
    }
    .logo{
        width: 120px;
    }

    .logoName{
        width: 120px;
    }

}

@media only screen and (max-width: 375px) {
    .footerNavItem {
        font-size: 10px;
        margin: 10px;
    }
}

@media only screen and (min-width: 2000px) {
    .footerNavItem {
        font-size: 36px;
        margin: 20px;
    }
    .logo{
        width: 180px;
    }

    .logoName{
        width: 180px;
    }

    .copyRight{
        font-size: 30px;
    }
}