
.ourServices{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column;
    padding: 100px  0 100px 0;
    font-family: 'Cairo', sans-serif;
}
.sectionTitle{
    font-size: 60px;
    margin-bottom:80px;
}
.section-features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}
.row:not(:last-child) {
    margin-bottom: 80px; }
@media only screen and (max-width: 56.25em) {
    .row:not(:last-child) {
        margin-bottom: 60px; }
    .row:first-child {
        margin-top: 200px;
    }
}
@media only screen and (max-width: 56.25em) {
    .row {
        max-width: 500px;
        padding: 0 30px; } }
.row::after {
    content: "";
    display: table;
    clear: both; }
.row [class^="col-"] {
    float: left;
}
.row [class^="col-"]:not(:last-child) {
    margin-right: 60px; }
.row .col-1-of-2 {
    width: calc((100% - 60px) / 2); }
.row .col-1-of-3 {
    width: calc((100% - 2 * 60px) / 3); }
.row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 60px) / 3) + 60px); }
.row .col-1-of-4 {
    width: calc((100% - 3 * 60px) / 4); }
.row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 60px) / 4) + 60px); }
.row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 60px) / 4) + 2 * 60px); }
.feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    padding: 25px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    transition: transform .3s;
}
.feature-box__icon {
    font-size: 60px;
    margin-bottom: 5px;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
.feature-box:hover {
    transform: translateY(-15px) scale(1.03); }

@media only screen and (max-width: 56.25em) {
    .row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 60px; } }
@media only screen and (max-width: 56.25em) {
    .row [class^="col-"] {
        width: 100% !important; } }